@font-face {
  font-family: 'Monofonto';
  src: url('/systems/arcane-arcade-fallout/assets/fonts/monofonto.otf');
}

.gm-screen {
  max-height: 1000px;
  overflow-y: scroll;
  max-width: 1300px;
}

.application h6 {
  font-family: 'Monofonto', sans-serif;
  letter-spacing: 0.1rem;
}

.award .group {
  align-items: center;
  gap: 1rem;
}

.award .characters {
  align-items: center;
  gap: 2rem 1rem;
}

.application .gm-screen input[type="checkbox"]:checked::before {
  color: black;
}

.application .gm-screen input[type="text"],
.application .gm-screen input[type="number"],
.application .gm-screen input[type="password"],
.application .gm-screen input[type="date"],
.application .gm-screen input[type="time"],
.application .gm-screen input[type="search"],
.application .gm-screen input[type="file"],
.application .gm-screen select {
  background: none;
  color:white;
}
.gm-screen .group-rewards{
    color:var(--user-color);
}

.gm-screen input{
    text-align:center;
}


.application{
    background:black;
}

.application .gm-screen input[type="number"] {
  width: 45px;
  text-align:center;
}

.application .gm-screen {
  background-image: url('/systems/arcane-arcade-fallout/assets/pipboy_75.png');
  background-size: cover;
  text-align: center;
}

.application .name-label {
  padding: 5px;
}

.application .gm-screen input[type="checkbox"] {
  --checkbox-size: 15px;
}

.application .karmaCaps input[type='checkbox'] {
  content: url('/systems/arcane-arcade-fallout/assets/Cap_Back_Facing.webp');
  appearance: none;
  display: block;
  width: 25px;
  height: 25px;
  border: none;
  background: none;
  float: left;
}

  .application .karmaCaps input[type='checkbox']:checked {
    content: url('/systems/arcane-arcade-fallout/assets/Cap_Front_Facing.webp');
    background: none;
  }

  .application .character-details div {
    border: dotted 1px;
    color: var(--user-color)
  }
  .application .character-details{
    border: none;
  }
  .application .character-details .spacer-div div {
    border: none;
    margin:5px;
  }

.application .character-details .armor {
  border: none;
  padding: 0px;
}

.application .gm-screen-conditions {
  width: 20px;
}

/* Character Stats and Penalties */

.gm-screen .character-details .actor-name {
  background-image: url('/systems/arcane-arcade-fallout/assets/pipboy_75.png');
  background-size: cover;
  border: none;
  padding:5px;
  font-size:10pt;

}

.gm-screen .character-stats {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gm-screen .stat-block {
  background-image: url('/systems/arcane-arcade-fallout/assets/pipboy_75.png');
  background-size: cover;
  border:none;
  margin-top:auto;
}
