.flex {
  display: flex;
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1px;
}
.gap-2 {
  gap: 2px;
}
.gap-3 {
  gap: 3px;
}
.gap-4 {
  gap: 4px;
}
.gap-5 {
  gap: 5px;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.px-0 {
  padding: 0px;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.mx-1 {
  margin: 0 5px;
}

.mx-2 {
  margin: 0 10px;
}

.my-1 {
  margin: 5px 0px;
}

.my-2 {
  margin: 10px 0;
}

button > i {
  margin: 0;
}

button {
  background-color: var(--dark);
  color: var(--user-color);
}

button > i:hover {
  color: white;
}

.no-border {
  border: 0;
}

.unlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nowrap {
  white-space: nowrap;
}

.underline {
  text-decoration: underline;
}