.flex {
  display: flex;
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1px;
}
.gap-2 {
  gap: 2px;
}
.gap-3 {
  gap: 3px;
}
.gap-4 {
  gap: 4px;
}
.gap-5 {
  gap: 5px;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.mx-1 {
  margin: 0 5px;
}

.mx-2 {
  margin: 0 10px;
}

button > i {
  margin: 0;
}

button {
  background-color: var(--dark);
  color: var(--green);
}
