.flex {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.mx-1 {
  margin: 0 5px;
}

.mx-2 {
  margin: 0 10px;
}

button > i {
  margin: 0;
}

button {
  background-color: var(--dark);
  color: var(--green);
}
