.application h1 {
  font-size: 16pt;
  text-align: center;
}

.application .crafting-content,
.crafting-content h5 {
  font-family: Monofonto;
  text-transform: capitalize;
  font-size: 12pt;
  color: white;
}

.crafting-bench section {
  margin-top: 20px;
}

.crafting-content h5 {
  font-size: 15pt;
  text-transform: uppercase;
  color: var(--sheetcolor);
}

.crafting-bench {
  background-image: url('/systems/arcane-arcade-fallout/assets/pipboy_75.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--sheetcolor);
  background-color: var(--sheetcolor);
}

  .crafting-bench .window-content {
    padding: 0;
    flex-direction: row;
    height: 100%;
    min-height: 600px;
  }

  .crafting-bench aside {
    flex: 0 0 300px;
  }

  .crafting-bench .main {
    width: 900px;
    padding: 20px;
    border: solid 1px;
  }

  .crafting-bench button {
    width: 100%;
    font-size: 16pt;
    text-transform: capitalize;
    background: none;
  }

    .crafting-bench button .main {
      padding: 20px;
    }

    .crafting-bench button section {
      padding: 10px;
    }

    .crafting-bench button .main .grid {
      border: solid 1px var(--sheetcolor);
    }

  .crafting-bench .main .grid > div {
    text-align: center;
    padding: 5px;
    border: solid 1px var(--sheetcolor);
  }

.craftables-img {
  background: black;
}

  .craftables-img img {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
  }

.attempt-crafting {
  padding: 0;
  margin: 0;
}

.craftables-list {
  max-height: 200px;
  overflow-y: scroll;
}

.craftables-type {
  font-size: 14pt;
  padding: 5px;
}

.crafting-option {
  font-size: 16pt;
  border: none;
  background: none;
}
