

.crafting-bench {
    .window-content {
        padding: 0;
        flex-direction: row;
        height: 100%;
        min-width: 600px;
        min-height: 600px;
    }

    aside {
        flex: 0 0 200px;

        button {
            width: 100%;

            &.selected {
                color: white;
                background-color: var(--user-color);
            }
        }
    }

    .main {
        padding: 20px;

        section {
            padding: 10px;

            .grid {
                border-top: 1px solid var(--user-color);
                border-left: 1px solid var(--user-color);

                > div {
                    text-align: center;
                    padding: 5px;
                    border-bottom: 1px solid var(--user-color);
                    border-right: 1px solid var(--user-color);
                }
            }
        }
    }
}

.attempt-crafting {
    padding: 0;
    margin: 0;
}