@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'variables.css';
@import 'base.css';
@import 'grid.css';
@import 'dialog.css';
@import 'grant.css';
@import 'attack-roll.css';
@import 'targeted-attack.css';
@import 'chat.css';
@import 'sheet-status.css';
@import 'award.css';
@import 'perk.css';
@import 'drag-drop.css';
@import 'perk-list.css';
@import 'level-up.css';
@import 'crafting-bench.css';
@import 'v2-override.css';

/* Global styles */
@font-face {
  font-family: 'Monofonto';
  src: url('/systems/arcane-arcade-fallout/assets/fonts/monofonto.otf');
}

@font-face {
  font-family: 'fixedsys';
  src: url('/systems/arcane-arcade-fallout/assets/fonts/fixedsys.ttf');
}

.AA-autorec-settings label {
  color: black;
}

.window-app {
  font-family: 'Monofonto', sans-serif;
  letter-spacing: 0.1rem;
}

:root {
  --color-shadow-primary: var(--dark);
}

summary::marker {
  content: '';
}

details > summary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  border: solid 1px #ccc;
}

.sheet form h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  background: #222;
  border: solid 1px #ccc;
  text-transform: uppercase;
  padding: 5px;
}

.themed.theme-light #context-menu, .themed.theme-light#context-menu {
  background: #333;
}
.sheet .centered{
    text-align:center;
}
#context-menu li.context-item:hover {
  color: #333;
  background: var(--sheetcolor)
}

.rollable:hover,
.rollable:focus,
.sheet .backpack-row:hover {
  cursor: pointer;
  background-color: var(--sheetcolor);
  color: var(--dark);
  text-decoration: none;
  text-shadow: none;
}

.window-app button:hover {
  box-shadow: none;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/*Config CSS*/
.windows-app .settings-config label {
  color: black;
}
/* Styles limited to falloutzero sheets */
.falloutzero .item-form {
  font-family: 'Monofonto', sans-serif;
}

.falloutzero .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

  .falloutzero .sheet-header .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .falloutzero .sheet-header .header-fields {
    flex: 1;
  }

  .falloutzero .sheet-header h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
  }

    .falloutzero .sheet-header h1.charname input {
      width: 100%;
      height: 100%;
      margin: 0;
    }

.falloutzero .sheet-tabs {
  flex: 0;
}

.falloutzero .sheet-body,
.falloutzero .sheet-body .tab,
.falloutzero .sheet-body .tab .editor {
  height: 100%;
}

.falloutzero .tox .tox-editor-container {
  background: #fff;
}

.falloutzero .tox .tox-edit-area {
  padding: 0 8px;
}

.falloutzero .resource-label {
  font-weight: bold;
}

.falloutzero .items-header {
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

  .falloutzero .items-header > * {
    font-size: 14px;
    text-align: center;
  }

  .falloutzero .items-header .item-name {
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    display: flex;
  }

.falloutzero .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

  .falloutzero .items-list .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .falloutzero .items-list .item-name {
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    align-items: center;
    display: flex;
  }

    .falloutzero .items-list .item-name h3,
    .falloutzero .items-list .item-name h4 {
      margin: 0;
      white-space: nowrap;
      overflow-x: hidden;
    }

  .falloutzero .items-list .item-controls {
    display: flex;
    justify-content: flex-end;
  }

    .falloutzero .items-list .item-controls a {
      font-size: 12px;
      text-align: center;
      margin: 0 6px;
    }

  .falloutzero .items-list .item {
    align-items: center;
    padding: 0 2px;
    border-bottom: 1px solid #c9c7b8;
  }

    .falloutzero .items-list .item:last-child {
      border-bottom: none;
    }

    .falloutzero .items-list .item .item-name {
      color: #191813;
    }

      .falloutzero .items-list .item .item-name .item-image {
        flex: 0 0 30px;
        height: 30px;
        background-size: 30px;
        border: none;
        margin-right: 5px;
      }

  .falloutzero .items-list .item-prop {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
  }

  .falloutzero .items-list .items-header {
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
  }

    .falloutzero .items-list .items-header > * {
      font-size: 12px;
      text-align: center;
    }

    .falloutzero .items-list .items-header .item-name {
      padding-left: 5px;
      text-align: left;
    }

.falloutzero .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.falloutzero .effects .item .effect-source,
.falloutzero .effects .item .effect-duration,
.falloutzero .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.falloutzero .effects .item .effect-controls {
  border: none;
}

.window-app .window-content,
.window-app .window-content .dialog option {
  background-image: url('/systems/arcane-arcade-fallout/assets/pipboy_75.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--sheetcolor);
  background-color: var(--sheetcolor);
}

.dialog option,
.dialog optgroup,
.window-app .dialog ul {
  background-color: var(--dark);
}

.sheet .actor {
  text-transform: capitalize;
}

.window-app .window-content input,
.window-app .window-content .fakebutton,
.window-app .window-content button,
.window-app .window-content select,
.dialog,
.window-app .window-content textarea,
.window-app form p,
#chat .chat-message .message-header,
.prosemirror.menu-dialog form p,
.prosemirror.menu-dialog form button,
.prosemirror.menu-dialog form input,
.sheet .item-piles-config-container p,
.item-piles-clickable-link,
.chat-message{
  color: var(--sheetcolor);
  letter-spacing: 0rem;
}

.window-app .window-content div .fakebutton,
.window-app .window-content button,
.window-app .window-content select,
.window-app .window-content option,
.chat-message {
  background: #222;
}

.window-app .window-content,
.application {
  border-width: 12px;
  border-style: solid;
  border-color: initial;
  border-image: url("/systems/arcane-arcade-fallout/assets/graphics/metal_door_2.webp") 45 / 1 / 0 round;
}
#file-picker.application{
    border-width:0px;
}

.prosemirror.menu-dialog form {
  background-image: url('/systems/arcane-arcade-fallout/assets/pipboy_75.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--sheetcolor);
  background-color: var(--sheetcolor);
  padding-top: 20px;
}

#chat .chat-message,
#chat-popout .chat-message,
#keybindings .binding .key,
#keybindings .binding .key.uneditable {
  background: #222;
  color: var(--sheetcolor);
  font-family: Monofonto;
}

#chat-popout .flavor-text {
  color: var(--sheetcolor)
}

.journal-entry-page.pdf iframe {
  height: 775px;
}

.sheet.journal-entry .journal-entry-content {
  background-image: url('/systems/arcane-arcade-fallout/assets/pipboy_75.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: var(--sheetcolor);
}

.sheet.journal-entry .title {
  display: none;
}

.sheet.journal-entry .journal-entry-content img {
  border: #ff6059 solid 2px;
}

.sheet.journal-entry .journal-entry-content p {
  text-shadow: 2px 2px 2px black;
}

.sheet #terminal-text .terminal-content h3 {
  text-transform: uppercase
}

.sheet input,
.sheet h1,
.sheet h2,
.sheet h3,
.sheet a,
.sheet a:hover,
.sheet li,
form .title,
.falloutzero .items-list .item .item-name,
form .form-group span.units,
form div label {
  color: var(--sheetcolor);
  list-style-type: none;
}

.journal-entry-content li,
.editor-content li,
.prosemirror li {
  letter-spacing: 0rem;
  color: var(--sheetcolor);
  list-style-type: inherit;
}

.journal-entry-content table td,
.sheet .prosemirror table td,
.sheet .editor-content table td {
  border: solid 1px var(--sheetcolor);
}

.sheet .character-name input {
  border: none;
  font-size: 20pt;
  float: left;
}

.sheet input {
  color: var(--sheetcolor);
  border: solid 1px var(--dark);
  font-size: 10pt;
}

.statusnum input {
  width: 50px;
}

.sheet table tr,
.sheet table td {
  background: none;
}

.sheet table td {
  vertical-align: top;
  text-align: center;
}

table .bio-label {
  text-align: left;
  font-size: 14pt;
  margin-right: 5px;
}

.sheet .statusbar {
  background: none;
  max-width: 100%;
}

.sheet .current-stats,
.sheet .current-caps {
  width: 90%;
  margin: auto;
}

.sheet table {
  border-top: none;
  border-bottom: none;
  border: none;
}

.sheet .current-caps input {
  margin-top: 3px;
}

.sheet .modify {
  width: 35px;
}

.sheet header.sheet-header img,
.sheet profile-pic {
  flex: 0 0 64px;
  height: 175px;
  width: 200px;
  object-fit: cover;
  border: solid 1px var(--sheetcolor);
}

.sheet header.sheet-header .custom-icon {
  height: 30px;
  max-width: 30px;
}

.sheet td .modify {
  width: 75px;
}

.sheet ::placeholder {
  color: #ccc;
  opacity: .5;
}

table,
tr,
td,
.sheet img {
  background: none;
}

.sheet .character-status td {
  letter-spacing: 0rem;
}

.status table td {
  border: none;
  padding: 5px;
  font-size: 8pt;
}

.status .skill-table td,
.status .status-table td {
  border: solid 1px;
}

.status .skill-table {
  width: 250px;
}

  .status .skill-table td {
    vertical-align: middle;
  }

.status .skill-label {
  text-transform: uppercase;
  font-size: 10pt;
}

.status .skill-value {
  width: 80px;
  font-size: 10pt;
  letter-spacing: 0rem;
}

.sheet .status-info-value {
  font-size: 10pt;
}

.sheet table .status-table {
  vertical-align: top;
}

.sheet .perk-table td {
  padding: 5px;
}

.sheet .perk-div {
  background: black;
  padding: 5px;
  width: 100%;
}

.sheet form .perk-div h3 {
  color: var(--sheetcolor);
}

.sheet .perk-div .perk-image {
  height: 150px;
}

.sheet div .box-traits,
.sheet div .box-perks,
.sheet div .box-medicines {
  width: 25%;
  float: left;
  min-height: 150px;
}
.sheet div .box-perks{
    width:25%;
}
.sheet div .box-upgrades {
  width: 33%;
  float: left;
  min-height: 150px;
}

.sheet .perk-div h3 {
  font-size: 10pt;
  letter-spacing: 0;
}

.specialroll {
  text-transform: uppercase;
}

.sheet {
  background: #333;
  background-size: cover;
}

  .sheet .equipped-stats td {
    border: solid 1px;
    vertical-align: middle;
    padding: 2px;
    letter-spacing: 0rem;
  }

  .sheet .fas,
  .sheet .fa,
  .sheet .far {
    cursor: pointer;
  }

  .sheet .fakebutton,
  .sheet button {
    border: var(--dark);
    padding: 5px;
    cursor: pointer;
  }

.window-app .window-content div .no-background,
.window-app .window-content div .no-background:hover {
  background: none;
}

.header-icon {
  font-size: 16pt;
  text-align: left;
}

.sheet .craftButton:hover {
  border: black;
  background: #ffffff;
  color: #191813
}

.sheet .fakebutton:hover,
.sheet button:hover,
.sheet .character-status i:hover {
  border: none;
  background: transparent;
  color: white;
}

.sheet .fakebutton:active,
.sheet button:active,
.sheet .character-status i:active {
  border: var(--dark);
  background: white;
  color: var(--dark);
}

.sheet-tabs .active {
  text-decoration: underline;
  font-weight: bold;
}

.sheet .karma {
  width: 60px;
}


.sheet table td select {
  background: none;
}

:root {
  --color-bg-option: var(--dark);
}

.window-content :root {
  --color-bg-option: none;
}

.sheet .item-controls {
  vertical-align: bottom;
  padding: 10px;
}

.backpack .item-controls {
  float: left;
}

.td-controls {
  width: 60px;
  margin: 0px;
  padding: 0px;
}

.spacer {
  border: none;
  width: 10px;
}

.sheet .karmaCaps {
  display: flex;
  align-items: center;
  z-index: 1;
}

  .sheet .karmaCaps input[type='checkbox'] {
    content: url('/systems/arcane-arcade-fallout/assets/Cap_Back_Facing.webp');
    appearance: none;
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
  }

    .sheet .karmaCaps input[type='checkbox']:checked {
      content: url('/systems/arcane-arcade-fallout/assets/Cap_Front_Facing.webp');
      background: none;
    }

.sheet .addRemoveCaps button {
  display: flex;
  padding: 0;
}

  .sheet .addRemoveCaps button:disabled {
    opacity: 25%;
    cursor: not-allowed;
  }

    .sheet .addRemoveCaps button:disabled:hover {
      opacity: 25%;
      cursor: not-allowed;
      border: initial;
      background: #222;
      color: var(--sheetcolor);
    }

    .sheet .addRemoveCaps button:disabled i {
      cursor: not-allowed;
    }

.sheet .addRemoveCaps > button > i {
  margin: 0;
}

.htmlfield {
  padding: 20px;
}

form td .status-notes option,
form td .status-notes li,
form td .status-notes li:hover {
  background: black;
}

.directory .directory-header .header-search input,
.prosemirror,
.prosemirror.menu-dialog form {
  display: flex;
  flex-direction: column;
  --color-control-bg: #222;
  --color-hover-bg: #222;
  background: #222;
}

.chat-message .table-draw .table-results .table-result .result-text a {
  color: black;
  padding: 5px;
}

.item .item-box {
  max-width: 425px;
}

.alwaysopen {
  float: left;
}

.sheet .smallinput {
  width: 50px;
}

.sheet .mediuminput {
  width: 100px;
}

.directory .directory-header .header-search input {
  flex: 1;
  margin: 0 3px;
  background: #222;
  color: var(--sheetcolor);
}

.ammoitem,
.explosiveitem {
  font-size: 9pt;
}

.explosivecollection,
.ammocollection {
  float: left;
  margin: 0px;
  padding: 0px;
}

.ammunition-and-explosives-box {
  max-height: 200px;
  width: 100%;
  overflow: scroll;
}

.armorbox {
  width: 50%;
}

.sheet table td .ammo-box {
  background-image: url('/systems/arcane-arcade-fallout/assets/opacity-25.png');
  margin-top: 15px;
  margin: 5px;
}

.dialog .conditioninfo {
  font-family: fixedsys;
  padding: 20px;
  font-size: 14pt;
}

.condition {
  cursor: pointer;
}

.sheet .fallout-character-notes {
  height: 700px;
  text-align: left;
  overflow: scroll;
  background-color: #222;
  font-size: 12pt;
  padding: 20px;
  letter-spacing: 0rem;
}

  .sheet .fallout-character-notes .prosemirror {
    background-image: url('/systems/arcane-arcade-fallout/assets/vaultboy/vaultboy-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

.sheet .player-conditions td {
  letter-spacing: 0;
  text-align: left;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
  border: none;
}

  .sheet .player-conditions td span {
    font-size: 10pt;
  }

.sheet .player-conditions input[type='checkbox'] {
  transform: scale(0.75);
}

.armorbox {
  padding: 5px;
}

.sheet table .skill-value {
  min-width: 80px;
  vertical-align: middle;
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
}

.sheet table .status-info-label {
  font-size: 10pt;
}

.sheet table .upgradeBtn button {
  background: none;
  margin-top: -10px;
}

.roll-table-config table.table-results .table-result .result-range input {
  width: 20px;
  float: none;
}

.roll-table-config table.table-results input {
  width: 100px;
  float: left;
}

.roll-table-config table.table-results select {
  width: 100px;
  float: left;
}

.roll-table-config table.table-results .table-result {
  border: solid 1px var(--dark);
}

.roll-table-config .stacked {
  display: none;
}

.sheet .active-conditions {
  float: left;
  margin: 2px;
  padding: 0px;
  text-align: center;
  width: 25px;
  position: relative;
  z-index: 3;
}

.sheet header.sheet-header .condition-icon {
  width: 100%;
  height: auto;
}

.sheet .content-link {
  background: none;
  font-style: italic;
  border: none;
}

.item .content-link {
  text-decoration: underline;
  border: solid 1px var(--sheetcolordarker);
}

a.content-link,
a.inline-roll,
.chat-message .table-draw .table-results .table-result .result-text a {
  background: none;
  color: inherit;
  border: solid 1px var(--sheetcolordarker);
}

.window-content .item-piles-even-color:nth-child(even),
.window-content .item-piles-even-color:nth-child(odd),
.window-content .item-piles-child-even-color > *,
.window-content .item-piles-child-odd-color > * {
  background-color: var(--dark) !important;
  border: solid 1px;
}

.item-piles-clickable-link {
  padding: 5px;
}

.sheet .combat-actions .fakebutton {
  padding: 12px;
}

.sheet .backpack-qty-button {
  font-size: 14pt;
  padding: 3px;
  width: 100%;
  background: var(--dark);
}

.sheet .character-status {
  width: 200px;
}

  .sheet .character-status input {
    width: 50px;
    height: 50px;
  }

  .sheet .character-status i {
    font-size: 20pt;
    display: block;
    width: 100%;
  }

.sheet #xpbar progress::-webkit-progress-value {
  display: inline-block;
  float: left;
  height: 11px;
  margin: 0px -10px 0 0;
  background: var(--sheetcolor);
  border-radius: 15px;
  box-shadow: 0px 0px 6px #777 inset;
}

.sheet progress::-webkit-progress-value {
  display: inline-block;
  float: left;
  margin: 0px -10px 0 0;
  background: var(--sheetcolor);
}

.sheet .bio td {
  padding-right: 10px;
}

.sheet .backpack-item {
  float: left;
  padding: 10px;
  margin: 2px;
}

.sheet .context-icon {
  font-size: 14pt;
}

.sheet .context-menu, .sheet .pointer {
  cursor: pointer;
}

  .sheet .context-menu li {
    font-size: 10pt;
  }

.sheet .perk-context li {
  font-size: 8pt;
}

.sheet .status-table td {
  vertical-align: middle;
  font-size: 10pt;
}

.sheet .toggle input[type='checkbox'] {
  content: url('/systems/arcane-arcade-fallout/assets/toggle-off.png');
  appearance: none;
  display: block;
  width: 50px;
  height: 50px;
  border: none;
}

  .sheet .toggle input[type='checkbox']:checked {
    content: url('/systems/arcane-arcade-fallout/assets/toggle-on.png');
  }

.sheet input[type='checkbox'] {
  width: 15px;
}

.sheet .backpack .content-link:before {
  content: '\00B7';
}

.sheet .backpack .content-link,
.sheet .backpack .item-name,
.sheet .backpack .item {
  font-size: 9pt;
  float: left;
  text-transform: capitalize;
}

.sheet .item {
  text-transform: capitalize;
}

.sheet .trait-list {
  float: left;
  width: 100px;
  text-align: left;
  padding: 2px;
}

.sheet .combat-icon {
  background: #222;
  position: relative;
  margin-top: -30px;
  font-size: 16pt;
  width: 178px;
  margin-left: 1px;
  text-transform: uppercase;
}

body.game .app .tabs.sheet-tabs a:hover,
body.game .app .tabs > [data-tab].active {
  background-color: var(--sheetcolor);
  color: #333;
  text-decoration: none;
  text-shadow: none;
}

  body.game .app .tabs a:hover,
  body.game .app .tabs > [data-tab].active:hover {
    color: #333
  }

body.game .app .tabs > [data-tab] {
  color: var(--sheetcolor)
}

.sheet label {
  font-size: 13pt;
  padding: 5px;
}

  .sheet label.specials:hover {
    color: #000;
  }

.window-app .window-content label:active {
  color: var(--sheetcolor);
  background-color: white;
}

.sheet .ability-mod {
  font-size: 12pt;
  margin-top: -10px;
  padding-top: 0px;
}

.sheet .combat-actions {
  text-align: center;
  border: dotted 1px;
}

.sheet #context-menu li.context-item {
  border: solid 1px;
}

.sheet .combat-actions #context-menu {
  max-width: 9999px;
}

.sheet .help-icon {
  text-align: center;
  font-size: 12pt;
  margin-top: 3px;
}

.sheet .item-piles-config-container p {
  color: var(--sheetcolor)
}
.sheet .dr-dv label{
    font-size:8pt;
}
  .sheet .dr-dv label input[type=checkbox] {
    transform: scale(.75);
  }

/* ============New Grid Classes============ */
/*Item Sheets*/
.item .grid input {
  border: none;
}

.item .weapon-details .weapon-label {
  padding: 5px;
  vertical-align: middle;
  margin-top: 0px;
}

.item .weapon-details input {
  text-align: right;
}

.item .weapon-description, .item .weapon-details .prosemirror {
  border: solid 1px;
  padding: 5px;
}

.sheet.item .item-label {
  font-size: 20pt;
  color: white;
  border: none;
}
/*Combat Tab*/
.sheet .combat-tab div {
  border: solid 1px;
  text-align: center;
}

.sheet .combat-tab .equip-toggle {
  width: 30px;
}

.sheet .combat-tab .weapon-equippable {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  text-align: center;
  margin: 0;
  position: relative;
  top: 24%;
  text-transform: uppercase;
  font-family: arial;
  font-weight: bold;
}

.sheet .weapon-name,
.sheet .combat-ammo .ammo-name,
.sheet .backpack .item-name,
.sheet .perk-div h3{
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 25px;
}

.sheet .weapon-identity div,
.sheet .weapon-identity {
  border: none;
  background: black;
}

.sheet .weapon-image img {
  width: 60px;
  height: auto;
  display: block;
  margin: auto;
}

.sheet .combat-ammo div,
.sheet .weapon-stats div,
.sheet .weapon-identity div,
.sheet .weapon-usage div {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sheet .weapon-stats div {
  font-size: 8pt;
}

.sheet .combat-ammo .weapon-buttons {
  padding: 0px;
  border: none;
}

.sheet .combat-ammo .weapon-capacity {
  border: none;
  margin-top: 10px;
}

.sheet .combat-ammo .weapon-attack {
  background: #333;
  cursor: pointer;
  text-transform: uppercase;
}

.sheet .combat-ammo .weapon-reload {
  float: right;
  padding-right: 5px;
  padding-top: 1px;
}

.sheet .combat-ammo .weapon-attack:hover {
  background: #ccc;
  color: black;
  cursor: pointer;
}

.sheet .weapon-condition div,
.sheet .armor-condition div {
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}

.sheet .weapon-usage div {
  color: #ccc;
}

.sheet .combat-tab .weapon-damage,
.sheet .combat-tab .weapon-condition {
  border-bottom: none;
}

.sheet .combat-tab .melee-attack {
  background-image: url("/systems/arcane-arcade-fallout/assets/vaultboy/MeleeWeapons.webp");
  background-size: cover;
}

.sheet .combat-tab .upgrade-name {
  background: black;
  color: white;
  font-size: 8pt;
}

.sheet .armor-upgrades {
  background: black;
}

.sheet .armor-condition {
  padding: 10px;
}

.sheet .combat-tab .armor-stats div {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sheet .combat-tab .armor-description div {
  border: none;
}

.sheet .armor-identity {
  background: black;
}

.sheet .armor-stat {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sheet .armor-condition {
  margin-top: 0px;
}
/* Backpack */

.sheet .backpack-tab .segment {
  border: solid 1px;
  background: #333;
  padding: 3px;
}

.sheet .backpack-row:hover a,
.sheet .backpack-row:hover .item {
  color: black;
}

.sheet .backpack .labels {
  border-bottom: solid 1px;
  margin-bottom: 4px;
}

.sheet .backpack .caps-icon img {
  width: 15px;
  height: auto;
  text-align: center;
  border: none;
}

.sheet .status .show-unequipped {
  display: none;
}

.sheet .backpack .segment {
  margin: 5px;
  padding: 5px;
}

.sheet .crafting-button {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

/* Death Saving Rolls*/
.sheet .death-saves div {
  padding: 5px;
}

/*Journal CSS*/
.sheet.journal-sheet {
  background-color:var(--sheetcolor);
  background-image: url('/systems/arcane-arcade-fallout/assets/pipboy_75.png');
}

  .sheet.journal-sheet .journal-entry-content {
    margin-left: 20px;
  }
  .sheet.journal-sheet .journal-entry-content img{
    border:none;
  }
    .sheet.journal-sheet .journal-entry-content .journal-page-content {
      background: none;
      border: solid 2px var(--sheetcolor);
      border-top: solid 20px var(--sheetcolor);
      padding: 20px;
      background-image: url('/systems/arcane-arcade-fallout/assets/opacity-25.png');
    }

.sheet.journal-entry.application .journal-sidebar .toc .page-heading {
  list-style: none;
  color: var(--sheetcolor);
  background: black;
  border: solid 2px;
  margin-bottom:10px;
  border-left:solid 10px;
  border-right:solid 10px;
  text-align:center;
  font-size:14pt;
}
.sheet.journal-entry.application .journal-sidebar .toc li.active .page-heading {
  color: white;
}
.sheet.journal-entry.application .journal-sidebar .toc li.active .headings,
.sheet.journal-entry.application .journal-sidebar .toc .page-heading .page-index{
    display:none;
}

.item-piles-config-container p{
    color: var(--sheetcolor) !important;
}
/* ================= VAULT TEC OVERRIDES==========================*/
.sheet .vaulttec {
  background-color: #0066b1;
  color: #FFF;
}

.window-app .window-content .vaulttec input,
.window-app .window-content .vaulttec .fakebutton,
.window-app .window-content .vaulttec button,
.window-app .window-content .vaulttec label,
.window-app .window-content .vaulttec select,
.window-app .window-content .vaulttec textarea,
.window-app form .vaulttec p,
.sheet form .vaulttec .perk-div h3,
.window-app .window-content .vaulttec li,
.window-app .window-content .vaulttec a {
  color: #dbd45a;
  text-shadow: 0 0 2px #000;
}

.sheet .vaulttec .sheet-header,
.sheet .vaulttec .status-table table,
.window-app .window-content .vaulttec .weapons-table,
.window-app .window-content .vaulttec .equipped-stats,
.sheet .vaulttec .effects,
.sheet .vaulttec .combat-tab,
.sheet .vaulttec .backpack-tab .segment {
  background-color: #001423;
  color: #dbd45a;
  text-shadow: 0 0 2px #000;
  padding: 5px;
}

.sheet .vaulttec .skill-divs {
  background-color: #222;
  color: #dbd45a;
}

.sheet .vaulttec .skillbutton:hover {
  background-color: #dbd45a;
  color: #222;
}

.window-app .window-content .vaulttec .equipped-stats a {
  padding: 5px;
  font-size: 10pt;
}

.sheet .vaulttec input {
  color: #FEF265;
  background-color: #333;
  border: solid 1px;
}

.sheet .vaulttec .item-label input {
  background: none;
}

.sheet .vaulttec .character-name input {
  background-color: none;
  border: none;
  font-style: italic;
  padding-left: 20px;
}

.sheet .vaulttec nav {
  background-color: #001423;
}

  .sheet .vaulttec nav a {
    color: white;
  }

.window-app .window-content .vaulttec label {
  color: #dbd45a;
  font-size: 13pt;
  text-shadow: 0 0 2px #000;
  background: #001423;
  padding: 5px;
  border-radius: .5em;
}

.sheet.item .vaulttec .item-label {
  background: none;
}

.window-app .window-content .vaulttec label:hover,
.sheet .vaulttec .fakebutton:hover,
.sheet .vaulttec .backpack-row:hover {
  color: #333;
  background: #dbd45a;
  text-shadow: none;
}

  .sheet .vaulttec .backpack-row:hover a,
  .sheet .vaulttec .backpack-row:hover p,
  .sheet .vaulttec .backpack-row:hover li {
    color: black;
    text-shadow: none;
  }

.sheet .vaulttec #context-menu li {
  background: #333;
  color: #eee;
}

  .sheet .vaulttec #context-menu li:hover {
    background: #eee;
    color: #333;
    text-shadow: none;
  }

.sheet .vaulttec .fakebutton {
  color: #333;
  background: none;
  text-shadow: none;
}

.sheet .vaulttec .skill-divs button:hover {
  text-shadow: none;
  border: none;
}

.sheet .vaulttec nav a:hover,
.window-app .window-content .vaulttec label:hover,
.sheet .vaulttec .tabs > [data-tab].active {
  color: #333;
  background-color: #dbd45a;
  text-shadow: none;
}

.sheet .vaulttec .weapon-description,
.window-app .vaulttec .editor-content {
  background: #333;
  color: #eee;
  padding-left: 15px;
  padding-right: 10px;
}

.window-app .vaulttec p {
  color: #ccc;
}

body.game .app .vaulttec .tabs > [data-tab] {
  color: #dbd45a
}

  body.game .app .vaulttec .tabs.sheet-tabs a:hover,
  body.game .app .vaulttec .tabs > [data-tab].active {
    color: #333;
    background-color: #dbd45a;
    text-shadow: none;
  }

.sheet .item {
  text-transform: uppercase;
}

/*Resistance and Weakness Icons*/

.sheet .dr-dv{
    max-width:300px;
    text-align:center;
}
.sheet .dr-dv input[type='checkbox'] {
  appearance: none;
  display: block;
  width: 100%;
  height: auto;
  border: none;
  opacity:25%;
  background:black;
}
.sheet .dr-dv input[type='checkbox']:checked {
  opacity:100%;
}
.sheet .slashing input[type='checkbox'] {
  content: url('/icons/svg/sword.svg');
}
.sheet .piercing input[type='checkbox'] {
  content: url('/systems/arcane-arcade-fallout/assets/NPC-Attacks/Bite.png');
}
.sheet .ballistic input[type='checkbox'] {
  content: url('/systems/arcane-arcade-fallout/assets/NPC-Attacks/gunshot.png');
}
.sheet .bludgeoning input[type='checkbox'] {
  content: url('/systems/arcane-arcade-fallout/assets/NPC-Attacks/falling-boulder.png');
}
.sheet .electricity input[type='checkbox'] {
  content: url('/systems/arcane-arcade-fallout/assets/NPC-Attacks/battery-pack.png');
}
.sheet .plasma input[type='checkbox'] {
  content: url('/systems/arcane-arcade-fallout/assets/NPC-Attacks/laser-beam.png');
}
.sheet .poison input[type='checkbox'] {
  content: url('/icons/svg/poison.svg');
}
.sheet .fire input[type='checkbox'] {
  content: url('/icons/svg/fire.svg');
}
.sheet .acid input[type='checkbox'] {
  content: url('/icons/svg/acid.svg');
}
.sheet .explosive input[type='checkbox'] {
  content: url('/icons/svg/explosion.svg');
}
.sheet .laser input[type='checkbox'] {
  content: url('/systems/arcane-arcade-fallout/assets/NPC-Attacks/laser-beam.png');
}
.sheet .radiation input[type='checkbox'] {
  content: url('/icons/svg/radiation.svg');
}
.sheet .cryo input[type='checkbox'] {
  content: url('/icons/svg/frozen.svg');
}

