.tab.status button {
  padding: 10px;
  margin: 0;
  background-color: transparent;
  line-height: initial;
  font-size:9pt;
}
.sheet .status .no-background
.sheet .status .no-background:hover {
  background: none;
  font-size: 12pt;
}
.sheet .status .skillvalue{
    font-size:10pt;
}
