.application button {
    border-color: var(--user-color);
    color: var(--user-color);
}

.application button:hover {
    color: white;
    background: var(--user-color);
}

.application button > i {
    margin: 0;
}

.application label {
    color: var(--user-color);
}
.application input[type="checkbox"]:checked::before {
    color: white;
}
.application input[type="checkbox"]:checked::after {
    color: var(--user-color)
}

body.game .app button {
    line-height: unset;
}