<section class="main">
    <h1>Crafting</h1>
    <div>
        {{#if selectedCraftable}}
            <h2>
                Selected craftable: {{ selectedCraftable.label }}
            </h2>
        {{else}}
            <h2>
                Select something to craft
            </h2>
        {{/if}}
    </div>
    <div>
        
    </div>
</section>

{{ log this }}