<div class="award">
    <select data-character-select>
        {{#each actors as |actor|}}
            {{#with (lookup ../newActorData [id])~}}
                <option value="{{actor.id}}">
                    {{ actor.name }}
          </option>
            {{/with}}
        {{/each}}
        </select>
    <div class="dialog-buttons flexrow">
        <button class="dialog-button">Submit</button>
    </div>
</div>

