<div class="my-2">
    {{log 'here' this}}
    {{#each content.perks as |perk|}}
        <button class="my-1" data-perk-id="{{perk.id}}">
            {{ perk.name }}
        </button>
    {{/each}}
    <div>
        <button data-cancel>Cancel</button>
    </div>
</div>