<div class="my-2">
    {{#each specials as |special key|}}
        <button class="my-1" data-action="special" data-special-id="{{key}}">
            {{ special.label }}
        </button>
    {{/each}}
    <div class="my-1">
        <button data-action="cancel">Cancel</button>
    </div>
</div>