<div class="my-2">
    {{#each content.specials as |special key|}}
        <button class="my-1" data-special="{{key}}">
            {{ special.label }}
        </button>
    {{/each}}
    <div class="my-1">
        <button data-cancel>Cancel</button>
    </div>
</div>