<table>
  <tr>
    <td class="armorbox rangedbox" style="vertical-align:top;">
      {{>
            "systems/arcane-arcade-fallout/templates/actor/items/equipped-ranged-weapons.hbs"
            rangedWeapons=rangedWeapons
            abilities=system.abilities
            skills=system.skills
      }}
      {{>
            "systems/arcane-arcade-fallout/templates/actor/items/equipped-melee-weapons.hbs"
            meleeWeapons=meleeWeapons
            abilities=system.abilities
            skills=system.skills
      }}
    </td>
      </tr>
    <tr>
    {{#if explosives}}
    <td class="armorbox" colspan="999">
      {{>
            "systems/arcane-arcade-fallout/templates/actor/items/explosives.hbs"
            explosives=explosives
            abilities=system.abilities
            skills=system.skills
            penaltyTotal=penaltyTotal
      }}
    {{/if}}
  </tr>
</table>
