<h3>Notes:</h3>
<table>
    <tr>
        <td class="fallout-character-notes">
            {{editor system.biography target="system.biography" button=falue engine="prosemirror" collaborate=false}}
         </td>
    </tr>
</table>
