<h3>Notes:</h3>
<table>
    <tr>
        <td class="fallout-character-notes">
            {{editor system.properties target="system.properties" button=falue engine="prosemirror" collaborate=false}}
         </td>
    </tr>
</table>
