<table>
  <tr>
    <td class="armorbox">
      <h3>Armor</h3>
      {{> "systems/arcane-arcade-fallout/templates/actor/items/equipped-armor.hbs"}}
    </td>
    <td class="armorbox">
      <details {{#if system.combatActionsexpanded }} open="true" {{/if}}><summary data-combatExpand style="padding:7.5px;">Combat Actions</summary>
      {{> "systems/arcane-arcade-fallout/templates/actor/items/combat-actions.hbs" }}
        </details>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td class="armorbox rangedbox">
      <h3>Ranged Weapons</h3>
      {{>
            "systems/arcane-arcade-fallout/templates/actor/items/equipped-ranged-weapons.hbs"
            rangedWeapons=rangedWeapons
            abilities=system.abilities
            skills=system.skills
      }}
    </td>
    <td class="armorbox meleebox">
      <h3>Melee Weapons</h3>
      {{>
            "systems/arcane-arcade-fallout/templates/actor/items/equipped-melee-weapons.hbs"
            meleeWeapons=meleeWeapons
            abilities=system.abilities
            skills=system.skills
      }}
    </td>
      </tr>
    <tr>
    {{#if explosives}}
    <td class="armorbox" colspan="999">
      <h3>Explosives</h3>
      {{>
            "systems/arcane-arcade-fallout/templates/actor/items/explosives.hbs"
            explosives=explosives
            abilities=system.abilities
            skills=system.skills
            penaltyTotal=penaltyTotal
      }}
    {{/if}}
  </tr>
</table>
