<table style="width:50%;">
<tr class="label"><td>FOOD / DRINKS</td></tr>
<tr>
	<td class="skill-table" style="text-align:left;">
		{{#each foodAnddrinks as |item id|}}
		<tr>
		<td><p>{{item.name}}({{system.quantity}})</p></td></tr>
		{{/each}}
	</td>
</tr>
</table>