<table class="equipped-stats combat-actions">
    <tr>
        <td class="condition" data-condition="Move_5_Feet">Move 5 Feet</td>
        <td data-apusage="1" class="fakebutton">1 AP</td>
        <td class="condition" data-condition="Sprint">Sprint</td>
        <td data-apusage="5" class="fakebutton">5 AP</td>



    </tr>
    <tr>
        <td class="condition" data-condition="Escape_a_Grapple">Escape a Grapple</td>
        <td data-apusage="5" class="fakebutton">5 AP</td>

        <td class="condition" data-condition="Grapple">Grapple</td>
        <td data-apusage="3" class="fakebutton">3 AP</td>
    </tr>
    <tr>
        <td class="condition" data-condition="Help">Help</td>
        <td data-apusage="6" class="fakebutton">6 AP</td>
        <td class="condition">Reload</td>
        <td data-apusage="6" class="fakebutton">6 AP</td>
    </tr>
    <tr>
        <td class="condition" data-condition="Hide">Hide</td>
        <td data-apusage="6" class="fakebutton">6 AP</td>

        <td class="condition" data-condition="Interact_With_Object">Interact</td>
        <td data-apusage="3" class="fakebutton">3 AP</td>
    </tr>
    <tr>
        <td class="condition" data-condition="Equip_a_Weapon">Equip a Weapon</tdclass="condition">
        <td data-apusage="3" class="fakebutton">3 AP</td>

        <td class="condition" data-condition="Ready">Ready</td>
        <td data-apusage="2" class="fakebutton">2 AP</td>
    </tr>
    <tr>
        <td class="condition" data-condition="Search">Search</td>
        <td data-apusage="3" class="fakebutton">3 AP</td>

        <td class="condition" data-condition="Shove">Shove</td>
        <td data-apusage="4" class="fakebutton">4 AP</td>
    </tr>
    <tr>
        <td class="condition" data-condition="Dodge">Dodge</td>
        <td data-apusage="6" class="fakebutton">6 AP</td>

        <td class="condition" data-condition="Stand_Up_From_Prone">Stand from Prone</td>
        <td data-apusage="5" class="fakebutton">5 AP</td>
    </tr>
    <tr>
        <td class="condition" data-condition="Stow_a_Weapon">Stow a Weapon</td>
        <td data-apusage="3" class="fakebutton">3 AP</td>

        <td class="condition" data-condition="Take_Cover">Take Cover</td>
        <td data-apusage="3" class="fakebutton">3 AP</td>
    </tr>
    <tr>
        <td class="condition" data-condition="Unarmed_Strike">Unarmed Strike</td>
        <td data-apusage="3" class="fakebutton">3 AP</td>

        <td class="condition" data-condition="Use_a_Chem">Use a Chem</td>
        <td data-apusage="4" class="fakebutton">4 AP</td>
    </tr>
</table>
