<section>
  <div class="flex">
    <div>Is craftable: </div>
    <div>
      <input type="checkbox" name="system.crafting.craftable" {{checked system.crafting.craftable}}>
    </div>
    {{#if craftable}}
    <div>
      <button>add requirements</button>
    </div>
    {{/if}}
  </div>
</section> 
{{log 'crafting'}} 
{{log this}}